/* Main Elements */
body {
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Aldrich', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fefefe;
}
main {
  background-color: #111;
  color: #fefefe;
}
section {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #111;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
nav a {
  border-right: 1px solid #111;
  padding: 1em;
  margin: 0;
}
nav a:hover {
  background-color: #ddd;
}
/* Classes */
.main-header {
  font-size: 5em;
  margin: 0;
}
.first {
  border-left: 1px solid #111;
}

/* Icons */
.rails {
  color: #CC1110;
}
.react {
  color: #61DAFB;
}
.html5 {
  color: #E34F26;
}
.css3 {
  color: #1572B6;
}
.sass {
  color: #CC6699;
}
.js {
  color: #F7DF1E;
}
.ruby {
  color: #CC342D;
}
.git {
  color: #F05032;
}
.github {
  color: #181717;
}
.vscode {
  color: #007ACC
}

/* IDs */
#projects a {
  border-radius: 5px;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: .5em;
  margin: .2em;
}
#projects a:hover {
  background-color: #333;
  color: #ddd;
}