/* Main Elements */
body {
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Aldrich', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fefefe;
}
main {
  background-color: #111;
  color: #fefefe;
}
section {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #111;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
nav a {
  border-right: 1px solid #111;
  padding: 1em;
  margin: 0;
}
nav a:hover {
  text-decoration: none;
  background-color: #ddd;
}
section h2 {
  font-size: 3em;
  margin: .25em 0;
}

/* Classes */
.main-header {
  font-size: 5em;
  margin: 0;
}
.first {
  border-left: 1px solid #111;
}
.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Icons */
.skill-color {
  fill: #fefefe;
  transition: .2s;
}
.skill-block {
  text-align: center;
  padding: 1em 0;
}
.skill-logo {
  height: 5em;
  display: block;
  margin: .3em auto;
  transition: .2s;
}
.skill-logo:hover {
  height: 5.3em;
  margin: 0 auto;
}

.skill-logo:hover .html5 {
  fill: #E34F26;
}
.skill-logo:hover .css3 {
  fill: #1572B6;
}
.skill-logo:hover .sass {
  fill: #CC6699;
}
.skill-logo:hover .js {
  fill: #F7DF1E;
}
.skill-logo:hover .react {
  fill: #61DAFB;
}
.skill-logo:hover .ruby {
  fill: #CC342D;
}
.skill-logo:hover .rails {
  fill: #CC1110;
}
.skill-logo:hover .git {
  fill: #F05032;
}
.skill-logo:hover .github {
  fill: #999;
}
.skill-logo:hover .vscode {
  fill: #007ACC;
}
.skill-logo:hover .twitter {
  fill: #1DA1F2;
}
.skill-logo:hover .linkedin {
  fill: #0077B5;
}

/* IDs */
#projects a {
  border-radius: 5px;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding: .5em;
  margin: .2em;
}
#projects a:hover {
  background-color: #333;
  color: #ddd;
}